.auth {
    height: 100vh;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    // background-color: white;
    border: 1px solid white;
    background: white;
    padding: 20px 30px;
    max-width: 500px;
    width: 350px;
    color: #1a2733;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 10px;

    & * {
        color: #1a2733;
    }
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 10px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

@media (max-width: 300px) {
    .buttons * {
        font-size: 12px;
        gap: 5px;
    }

    .form {
        padding: 5px 10px;
    }
}
