.auth {
	display: flex;
	flex-direction: column;
	background-color: var(--bg-color);
	padding: 20px 30px;
	width: 300px;
	gap: 20px;
}

.form {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.inputs {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.button {
	width: 100%;
	padding: 10px 0;
}
