@import 'variables';
@import 'reset';
@import 'themes/normal';
@import 'themes/dark';

* {
	scrollbar-width: thin;
	box-sizing: border-box;
	// scrollbar-gutter: stable both-edges;
}

.app {
	font: var(--font-m);

	background: var(--bg-color);
	color: var(--primary-color);

	& > .body {
		display: flex;
		flex-direction: column;
		height: 100dvh;
		max-width: var(--body-width);
		margin: 0 auto;
	}

	& > .body > .content {
		display: flex;
		flex: 1 1 auto;
		overflow: auto;
	}
}

#modal {
	font: var(--font-m);
}
