@import "variables";
@import "reset";
@import "themes/normal";
@import "themes/dark";

* {
	box-sizing: border-box;
}

.app {
	font: var(--font-m);

	background: var(--bg-color);
	color: var(--primary-color);

	max-height: 100dvh;

	& > .body {
		display: flex;
		flex-direction: column;
		max-width: 1200px;
		margin: 0 auto;
		max-height: 100dvh;
	}

	& > .body > .content {
		max-height: 100%;
		flex: 1 1 auto;
	}
}

#modal {
	font: var(--font-m);
}
