@import 'variables';
@import 'reset';
@import 'themes/normal';
@import 'themes/dark';

* {
	box-sizing: border-box;
}

.app {
	font: var(--font-m);

	background: var(--bg-color);
	color: var(--primary-color);

	& > .body {
		display: flex;
		flex-direction: column;
		height: 100dvh;
		max-width: 1200px;
		margin: 0 auto;
	}

	& > .body > .content {
		display: flex;
		flex: 1 1 auto;
		overflow: auto;
	}
}

#modal {
	font: var(--font-m);
}
