.devices {
	display: flex;
	height: 100%;
	gap: 10px;
}

.products {
	flex: 1 1 auto;
	overflow-y: scroll;
	height: calc(100dvh - 50px);
	display: grid;
	grid-template-columns: 1fr;
	grid-auto-rows: 300px;
}
