.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.product {
    border: 3px solid white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    color: #1a2733;
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 4fr 1fr;
    grid-template-areas: image;

    & > img {
        max-width: 100%;
    }

    &:hover {
        border: 3px solid #0385ff;
    }
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.center {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.attributes {
    font-size: 14px;
}

.attribute {
    display: flex;
}

@media (max-width: 720px) {
    .product {
        display: flex;
        flex-direction: column;
        padding: 5px 10px;

        & > span {
            display: none;
        }

        & > img {
            grid-area: image;
        }
    }
}
