.Button {
	padding: 10px 15px;
	border-radius: 5px;
	border: none;
	cursor: pointer;
	transition: all 0.3s ease;
	background-color: var(--primary-color);
	color: var(--bg-color);
}

.Button.smallest {
	padding: 5px 10px;
	font-size: var(--font-size-s);
	background-color: color-mix(in srgb, var(--primary-color) 50%, var(--bg-color));
}

.Button:hover {
	background-color: var(--primary-focus-color);
}
