.breadcrumbs {
    display: none;
    position: relative;
    bottom: 5px;
    height: max-content;
    white-space: nowrap;
    // display: flex;
    align-items: center;
    color: white;
    overflow: auto;

    & > a {
        color: white;
        text-decoration: none;

        & > span {
            vertical-align: middle;
        }
    }
}
