.device {
	height: 300px;
	padding: 10px;
	background-color: var(--bg-color);
	color: var(--primary-color);
	display: grid;
	grid-template-columns: 300px auto max-content;
	gap: 5px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.device:hover {
	background-color: var(--primary-focus-color);
}

.center {
	display: flex;
	gap: 5px;
	flex-direction: column;
}

.right {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.image {
	max-width: 300px;
	height: 280px;
}

.attribute_title {
	color: var(--secondary-color);
}
