.app.dark,
#modal > .dark {
	--bg-color: #1a2733;

	--primary-color: #ffffff;
	--primary-inverted-color: rgba(0, 0, 0, 1);
	--primary-focus-color: #00b7ff;
	--primary-hover-color: rgba(255, 255, 255, 0.2);

	--secondary-color: #9b9b9b;
}
