.themeButton {
	background: var(--bg-color) !important;
	border: none;
	outline: none;
}

.svg {
	fill: var(--primary-color);
	width: 30px;
	height: 30px;
	cursor: pointer;

	&,
	& * {
		stroke: var(--primary-color);
		fill: var(--primary-color);
	}
}

@media (max-width: 320px) {
	.svg {
		width: 16px;
		height: 16px;
	}
}
