.devicesPage {
	flex: 1 0 auto;
	display: flex;
	gap: 10px;
}

.devices {
	flex: 1 1 auto;
	overflow-y: auto;
	height: 100%;
	display: grid;
	grid-template-columns: 1fr;
	max-width: calc(100dvw - (var(--main-padding) * 2));
}

@media (max-width: 1200px) {
	.devicesPage {
		flex-direction: column;
	}
}

@media (max-width: 768px) {
	.devices {
		gap: 20px;
	}
}
