$headerHeight: height(".header");
.header {
    background-color: #1a2733;
    width: 1200px;
    padding: 0 10px;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 5;
    transition: all 0.3s ease;

    a {
        cursor: pointer;
        color: white;
        text-decoration: none;
        font-size: 20px;
    }
}
