.Navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 5px 0;
}

.nav {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	align-self: center;
}

.title {
	font-size: 20px;
	text-decoration: none;
	color: var(--primary-color);
}

.svg {
	fill: var(--primary-color);
	width: 30px;
	height: 30px;
	cursor: pointer;
}

.link {
	display: flex;
	justify-content: center;
	align-items: center;
	width: max-content;
}

@media (max-width: 320px) {
	.title {
		font-size: 16px;
	}

	.svg {
		width: 16px;
		height: 16px;
	}
}
