.products {
    display: flex;
    gap: 10px;
}

.filter {
    background-color: white;
}

.list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.product {
    padding: 10px 20px;
    background-color: white;
    color: #1a2733;
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 4fr 1fr;

    & > img {
        max-width: 100%;
    }
}

.price {
    font-size: 24px;
    font-weight: bold;
}

.title {
    font-size: 20px;
    font-weight: bold;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}

.attributes {
    font-size: 14px;
}

.attribute {
    display: flex;
}

@media (max-width: 720px) {
    .filter {
        display: none;
    }
    .product {
        padding: 5px 10px;
        grid-template-columns: 1fr 2fr;
        gap: 5px;

        & > span {
            display: none;
        }
    }
}
