.tab {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: var(--font-size-m);
}

.btn.selected {
	color: var(--bg-color);
}

.btn:not(.selected) {
	background-color: transparent;
	color: var(--primary-color);
}
