.Filter {
	overflow: auto;
	width: var(--sidebar-width);
}

.attributes {
	display: flex;
	flex-wrap: wrap;
	gap: 5px;
}

.attribute.checked {
	background-color: green;
}

.checkbox {
	display: none;
}
