.tab {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
	font-size: 16px;
}

.btn {
	border-radius: 5px;
	padding: 10px 0px;
	background-color: transparent;
	outline: none;
	border: none;
	color: white;
}

.btn.selected {
	color: #1a2733;
	background-color: white;
}
