.catalog {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.item {
    background-color: white;
    border: 3px solid white;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    min-height: 200px;
    gap: 20px;
    padding: 10px 30px;
    font-size: 16px;
    color: #1a2733;
    text-decoration: none;
    transition: all 0.3s ease;

    &:hover,
    &:focus {
        border: 3px solid #0385ff;
        color: #0385ff;
    }
}

.loading {
    min-height: 200px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    & > img {
        animation: loadingAnimation 3s linear infinite;
        width: 50px;
        height: 50px;
    }
}

.img {
    width: 100%;
    background-color: white;
    padding: 5px;
    transition: all 0.3s ease;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img > img {
    max-width: 100%;
    max-height: fit-content;
}

@media (max-width: 720px) {
    .catalog {
        grid-template-columns: repeat(2, 1fr);
    }

    .item {
        padding: 10px 20px;
    }
}

@media (max-width: 360px) {
    .item {
        padding: 5px 10px;
    }
}

@keyframes loadingAnimation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
